.hero {
    background-image: url("./components/Hero/assets/bg.svg");
    background-repeat: no-repeat;
    .content {
        color: $white;
        margin-top: 80px;
        .title {
            width: 1200px;
            margin-bottom: 60px;
            font-size: 72px;
            font-weight: 600;
        }
        .text {
            font-size: 24px;
            width: 924px;
            letter-spacing: 0.085em;
            font-weight: 300;
        }
    }
}
