<div class="header">
    <div class="logo-block">
        <div class="logo-main">
            <div class="logo" />
            <div class="name">
                ЭнКиСофт
            </div>
        </div>
        <div class="logo-desc">
            Решения, которых не было
        </div>
    </div>
    <div class="menu">
        <a class="menu-link link-active" href="/">О нас</a>
        <a class="menu-link" href="/">Наши решения</a>
        <a class="menu-link" href="/">Контакты</a>
    </div>
</div>
