<div class="header">
    <div class="logo-block">
        <div class="logo-main">
            <div class="logo" />
            <div class="name">
                ЭнКиСофт
            </div>
        </div>
        <div class="logo-desc">
            Решения, которых не было
        </div>
    </div>
    <div class="menu">
        <a data-href="hero" class="menu-link link-active">О нас</a>
        <a data-href="carousel" class="menu-link">Наши решения</a>
        <a data-href="contacts" class="menu-link">Контакты</a>
    </div>
    <div class="burger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="mobile-menu">
        <a data-href="hero" class="menu-link link-active">О нас</a>
        <a data-href="carousel" class="menu-link">Наши решения</a>
        <div class="sub-menu">
            <div class="sub-menu-item">Контроль за строительством</div>
            <div class="sub-menu-item">Проектный документооборот</div>
            <div class="sub-menu-item">Контроль жизненного
                цикла оборудования</div>
            <div class="sub-menu-item">Промышленная безопасность</div>
            <div class="sub-menu-item">Создание 3D и 4D (с привязкой к графикам) моделей технологических объектов.</div>
        </div>
        <a data-href="contacts" class="menu-link">Контакты</a>

    </div>
</div>
