<div class="header">
    <div class="logo-block">
        <div class="logo-main">
            <div class="logo" />
            <div class="name">
                ЭнКиСофт
            </div>
        </div>
        <div class="logo-desc">
            Решения, которых не было
        </div>
    </div>
    <div class="menu">
        <a data-href="hero" class="menu-link link-active">О нас</a>
        <a data-href="carousel" class="menu-link">Наши решения</a>
        <a data-href="contacts" class="menu-link">Контакты</a>
    </div>
</div>
