.header {
    position: fixed;
    right: 0;
    left: 0;
    background-color: rgba($accent, 0.7);
    padding: 20px 100px;
    display: flex;
    align-items: center;
    color: $white;
    z-index: 99999;
    .logo-block {
        margin-right: auto;
        .logo-main {
            display: flex;
            align-items: center;
            .logo {
                background-image: url("./components/Header/assets/logo.svg");
                height: 50px;
                width: 50px;
                background-repeat: no-repeat;
            }
            .name {
                font-size: 28px;
                margin-left: 10px;
            }
        }
        .logo-desc {
            font-size: 18px;
            letter-spacing: 0.06em;
            margin-top: 8px;
            font-weight: 300;
        }
    }
    .menu {
        .menu-link {
            color: $white;
            text-decoration: none;
            font-weight: 200;
            text-transform: uppercase;
            cursor: pointer;
            &:nth-child(even) {
                margin: 0 60px;
            }
            &.link-active {
                position: relative;
                font-weight: normal;
                &:after {
                    position: absolute;
                    content: "";
                    border-radius: 2px;
                    background-color: $white;
                    height: 4px;
                    bottom: -5px;
                    left: -5px;
                    right: -5px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .header {
        .logo-block {
            margin-right: auto;
            .logo-main {
                .logo {
                    background-image: url("./components/Header/assets/logo.svg");
                    height: 50px;
                    width: 50px;
                    background-repeat: no-repeat;
                }
                .name {
                    font-size: 24px;
                    margin-left: 10px;
                }
            }
            .logo-desc {
                font-size: 16px;
                letter-spacing: 0.06em;
                margin-top: 6px;
                font-weight: 300;
            }
        }
        .menu {
            .menu-link {
                font-size: 14px;
                &:nth-child(even) {
                    margin: 0 30px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .header {
        padding: 10px 16px;
    }
}
