<section class="carousel">
    <div class="blocks-container">
        <div class="block active" id="carousel-offset">
            <h2 class="carousel-header">Контроль за строительством</h2>
            <p class="carousel-text">
                Специально созданная среда для строительного контроля.
                <br>
                <br>
                Единый источник данных для всех участников проекта.
                <br>
                <br>
                Гибкий и индивидуально настраиваемый
                структурированный уровень доступа ко всем данным
            </p>
            <div class="carousel-img" style="background-image: url('./components/Carousel/images/0.png')"></div>
        </div>
        <div class="block">
            <h2 class="carousel-header">Проектный документооборот</h2>
            <p class="carousel-text">
                Структурированное хранение, отображение и оперирование данными.
                <br>
                <br>
                Хранение всей атрибутивной информации и электронных версий сопутствующей документации в единой системе (паспорты, сертификаты, руководства).
                <br>
                <br>
                Настраиваемая аналитика и статистика.
            </p>
            <div class="carousel-img" style="background-image: url('./components/Carousel/images/1.png')""></div>
    </div>

        <div class="block">
            <h2 class="carousel-header">Контроль жизненного цикла оборудования</h2>
            <p class="carousel-text">
                Отслеживание каждого объекта посредством фиксации на этапах
                (входной контроль, поступление на склад, монтаж, проверки, обслуживание и т.д.).
                <br>
                <br>
                Хранение всей атрибутивной информации и электронных версий сопутствующей документации в единой системе (паспорты, сертификаты, руководства).
                <br>
                <br>
                Возможность контроля и фиксации результатов проверок, обходов, регламентных мероприятий.
            </p>
            <div class="carousel-img" style="background-image: url('./components/Carousel/images/2.png')""></div>

    </div>

        <div class="block">
            <h2 class="carousel-header">Промышленная безопасность</h2>
            <p class="carousel-text">
                Отслеживание сроков допусков и оповещения о необходимости прохождения курсов.
                <br>
                <br>
                Возможность формирования бригад и нарядов-допусков с автоматической проверкой соответствия персонала и предполагаемых работ.
                <br>
                <br>
                Создание отчётов о прохождении обучения и экзаменов.
            </p>
            <div class="carousel-img" style="background-image: url('./components/Carousel/images/3.png')""></div>
    </div>

        <div class="block">
            <h2 class="carousel-header">Создание 3D и 4D (с привязкой к графикам) моделей технологических объектов.</h2>
            <p class="carousel-text">
                Высокая детализация и атрибутивная информация по каждому отдельному элементу.
                <br>
                <br>
                Каждый элемент связан с базой данных информации и документами, относящимися к конкретному объекту.
                <br>
                <br>
                Проверка на пространственные коллизии внутри разделов и на их стыке.
            </p>
            <div class="carousel-img" style="background-image: url('./components/Carousel/images/4.png')""></div>
    </div>
    </div>


    <div class="arrows">
        <button id="carousel-button-prev" class="arrow"></button>
        <button id="carousel-button-next" class="arrow"></button>
    </div>
    <div class="slider">
        <button class="indicator active"></button>
        <button class="indicator"></button>
        <button class="indicator"></button>
        <button class="indicator"></button>
        <button class="indicator"></button>
    </div>
</section>
