<section class="contacts" id="contacts-map">
    <div class="layer">
        <div class="title">
            Контакты
        </div>
        <div class="contacts-list">
            <div class="contact-block">
                <div class="block-title">
                    Телефон
                </div>
                <div class="block-text">
                    +7 (960) 100-47-47
                </div>
            </div>
            <div class="contact-block">
                <div class="block-title">
                    Электронная почта
                </div>
                <div class="block-text">
                    info@enkisoft.ru
                </div>
            </div>
            <div class="contact-block">
                <div class="block-title">
                    Адрес
                </div>
                <div class="block-text">
                    г. Воронеж, ул. Карла Маркса, 108/110
                </div>
            </div>
        </div>
    </div>
</section>
